:root {
  --main-color: #345837;
  --second-color: #415c40;
  --third-color: #39543b;
  --fourth-color: #263a28;

  --main-font-color: #f8f8f8;

  --gradient: linear-gradient(45deg, #b8e3bb, #94e791, #55e25c, #12d926);
}

.landing-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.landing-title {
  margin-top: 60px;
  font-size: 100px;
  text-align: center;
  color: transparent;
  background-image: var(--gradient);
  background-clip: text;
  background-size: 300%;
  animation: title-animation 3s infinite alternate;
}

.slider {
  height: 250px;
  width: 1200px;
  padding: 8px;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #263a28 10%,
    #345837 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    #263a28 10%,
    #345837 90%,
    transparent 100%
  );
}

.landing-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 20s infinite linear;
}

.slider > .landing-projects:hover {
  animation-play-state: paused;
}

.landing-projects a {
  list-style-type: none;
  color: var(--main-font-color);
  text-decoration: none;
}

.project {
  border: 2px solid var(--fourth-color);
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  height: 180px;
  width: 400px;
  transition: transform 0.3s ease;
  font-size: 60px;
  margin: 5px;
}

.project:hover {
  transform: translateY(-10px);
}

/* animations */
@keyframes title-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
