:root {
  --main-color: #345837;
  --second-color: #415c40;
  --third-color: #39543b;
  --fourth-color: #263a28;

  --main-font-color: #f8f8f8;

  --gradient: linear-gradient(45deg, #b8e3bb, #94e791, #55e25c, #12d926);
}

.todoWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoContainer {
  background-color: var(--second-color);
  border: 2px solid var(--third-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  height: 500px;
  width: 400px;
  padding: 12px;
}

.todoTitle {
  text-align: center;
  font-size: 48px;
  color: var(--main-font-color);
}

.todoInput {
  display: flex;
  height: 40px;
  gap: 2px;
}

.todoInput input {
  width: 100%;
  height: 100%;
  padding: 4px;
  font-size: 20px;
  outline: none;
}

.todoInput button {
  display: flex;
  color: var(--main-font-color);
  background-color: var(--fourth-color);
  align-items: center;
  justify-content: center;
  width: 60px;
  border: none;
  border-radius: 4px;
}

.todos {
  height: 100%;
  background-color: var(--third-color);
  border-radius: 4px;
}
