:root {
  --main-color: #8bd491;
  --second-color: #5f8a5d;
  --third-color: #39543b;
  --fourth-color: #263a28;

  --main-font-color: #f8f8f8;
}

body,
html {
  height: 100%;
  overflow: auto;
}

/* Header styles */
.navbar {
  display: flex;
  background-color: var(--fourth-color);
  color: var(--main-font-color);
  height: 60px;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 40px;
  margin: 0.3rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--main-font-color);
  align-self: center;
}

.navbar-list ul {
  height: 100%;
  display: flex;
  list-style-type: none;
}

.navbar-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-list a li {
  font-size: 24px;
  color: var(--main-font-color);
  padding: 8px;
  transition: background-color 0.3s;
}

.navbar-list a:hover {
  background-color: var(--second-color);
}

.navbar-list a {
  text-decoration: none;
}

.navbar-menu {
  display: none;
  align-items: center;
  position: absolute;
  right: 1rem;
}

.menu-icon {
  font-size: 30px;
  color: var(--main-font-color);
}

/* Main styles */
.main {
  height: auto;
}

.main-landing {
  height: 100vh;
  background-color: var(--main-color);
}

/* Footer styles */
.footer {
  height: 60px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fourth-color);
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: var(--main-font-color);
}

.footer-icons .icon {
  color: var(--main-font-color);
  font-size: 24px;
}

.footer-icons .icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-name {
  color: var(--main-font-color);
}

/* responsive layout */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 0;
  }

  .navbar-menu {
    display: flex;
    top: 1rem;
    right: 1.5rem;
  }

  .navbar-list {
    display: none;
  }

  .navbar-list a li {
    margin: 0 auto;
  }

  .navbar-list.active ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar.active {
    flex-direction: column;
    height: fit-content;
  }

  .navbar-logo {
    margin-right: auto;
  }
}
