:root {
  --main-color: #8bd491;
  --second-color: #5f8a5d;
  --third-color: #39543b;
  --fourth-color: #263a28;

  --main-font-color: #f8f8f8;
}

/* Header styles */
.navbar {
  display: flex;
  background-color: var(--fourth-color);
  color: var(--main-font-color);
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo {
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  color: var(--main-font-color);
}

.navbar-list {
  height: 100%;
}

.navbar-list ul {
  height: 100%;
  display: flex;
  list-style-type: none;
}

.navbar-list a li {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: var(--main-font-color);
  padding: 8px;
  transition: background-color 0.3s;
}

.navbar-list a li:hover {
  background-color: var(--second-color);
}

.navbar-list a {
  text-decoration: none;
}

/* Main styles */
.main {
  height: auto;
}

.main-landing {
  height: 100vh;
  background-color: var(--main-color);
}

/* Footer styles */
.footer {
  height: 60px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fourth-color);
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: var(--main-font-color);
}

.footer-icons .icon {
  color: var(--main-font-color);
  font-size: 24px;
}

.footer-icons .icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-name {
  color: var(--main-font-color);
}
