/* Header styles */
.navbar {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}

.navbar-list ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

/* Main styles */
.main {
  height: auto;
  border: 1px solid red;
}

.main-landing {
  border: 1px solid green;
  height: calc(100vh - 60px);
}

/* Footer styles */
.footer {
  height: 60px;
}
